---
title: Mila Maltseva
---

<section class="menu-bar">
	<div class="grid-construct">
		<h1 class="name-heading">Mila Maltseva</h1>
	</div>
</section>

<section class="grid-construct">
	<div class="section-bio clearfix">
		<div class="me">
			<%= image_tag("me.png", class: :me__photo)%>
		</div>
		<div class="bio">
			<p>Hi! I am Mila, a Quality Assurance Tester based in Mountain View.</p>
			<p>
				Currently, I am testing <a href="http://www.google.com/maps" target="_blank">Gmaps</a> at 
				<a href="http://www.google.com" target="_blank">Google</a>.
			</p>
			<p class="">Shoot me an email <a href="mailto:mluna07@gmail.com">here</a> if you want to talk!</p>
		</div>
	</div>

	<div class="section-cv">
		<div class="cv">
				
			<div class="tech-skills">
				<h3 class="section-heading">Technical Skills</h3>
				<ul>
				  <li class="tech-skills__item">HTML, CSS, Javascript</li>
				  <li class="tech-skills__item">Jira, BugZilla</li>
				</ul>
			</div>

			<div class="pro-experience pad-top">
			  <h3 class="section-heading">Professional Experience</h3>
			  <ul>
			    <li class="pro-experience__item">
			      <span>January 2016 - July 2016</span>
			      <span><a target="_blank" href="http://www.westfieldlabs.com/">Westfield Labs</a> - Front End</span>
			      <ul>
			        <li class="pro-experience__sub-item">Built a JS framework that integrates to Google Analytics(through Tealium) for the <a href="https://www.westfield.com/" target="_blank">Westfield</a> main website.</li>
			        <li class="pro-experience__sub-item">Worked on the client side creation of <a href="https://www.westfield.com/welcome" target="_blank">Westfield Accounts</a>, building the auth and shopping transaction systems.</li>
			      </ul>
			    </li>

			    <li class="pro-experience__item">
			      <span>October 2014 - October 2015</span>
			      <span><a target="_blank" href="http://www.zenti.com/">Zenti</a> - Full Stack</span>
			      <ul>
			        <li class="pro-experience__sub-item">Built the front-end and middle-tier(RoR) aspects of internal & public facing apps. Maintaining a common components styleguide accross all of them.</li>
			        <li class="pro-experience__sub-item">Worked with the product team, to construct wireframes as well as design and implement the layout for upcoming features</li>
			      </ul>
			    </li>
			  </ul>
			</div>

		</div>
	</div>
</section>